/* Сброс отступов и внутренних отступов для всех элементов */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Общие стили для тела страницы */
body {
    background-color: #f4f4f9;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

/* Основной контейнер калькулятора */
.calculator {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 320px;
}

/* Дисплей калькулятора */
.display {
    width: 100%;
    height: 50px;
    font-size: 32px;
    text-align: right;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    color: #333;
    font-weight: bold;
}

/* Сетка кнопок */
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

/* Общий стиль для кнопок */
button {
    font-size: 24px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f2f2f2;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
    font-weight: bold;
}


button:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)):not(:nth-child(4)):not(:nth-child(5)):not(:nth-child(6)):not(:nth-child(7)):not(:nth-child(8)):not(:nth-child(9)):not(:nth-child(10)):not(:nth-child(11)):not(:nth-child(12)):not(:nth-child(13)):not(:nth-child(14)):not(:nth-child(15)):not(:nth-child(16)):not(:nth-child(17)):not(:nth-child(18)):not(:nth-child(19)) {
    background-color: #e0e0e0; 
}

button:hover {
    background-color: #e0e0e0;
}


button:active {
    transform: scale(0.98);
}


button:nth-child(1) {
    background-color: #ff4d4d;
    color: white;
}


button:nth-child(2) {
    background-color: #fe9241;
    color: white;
}


button:nth-child(3),
button:nth-child(4),
button:nth-child(7),
button:nth-child(8),
button:nth-child(11),
button:nth-child(12),
button:nth-child(15),
button:nth-child(16) {
    background-color: #fe9241; 
    color: white;
}


/* Адаптивность для мобильных устройств */
@media (max-width: 360px) {
    .calculator {
        width: 100%;
        padding: 15px;
    }

    .display {
        font-size: 28px;
    }

    button {
        font-size: 20px;
        padding: 18px;
    }
}
