* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
}

.container {
    width: 100%;
    width: 1200px;
    padding: 10px;
    background-color: black;
}

.square {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 2px solid black;

    /* min-height переопределяет высоту 1 ячейки */
    min-height: 80px;
    margin-top: 10px;
}

/* .second_section {
    border: rgb(68, 255, 0) solid 7px;
} */


/*  1200 <= ширины экрана <= +inf  */

.first_section{
    display: flex;
    justify-content: space-around;
    gap: 10px;
}
.box_CD5C5C { background-color: #CD5C5C; width: 25%; margin-top: 0;}
.box_DC143C { background-color: #DC143C; width: 25%; margin-top: 0;}
.box_8B0000 { background-color: #8B0000; width: 25%;  margin-top: 0;} 
.box_FF0000 { background-color: #FF0000; width: 25%;  margin-top: 0;} 

.second_section {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
}

.second_section__side_section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    width: 33%;
}
.box_FFC0CB { background-color: #FFC0CB; width: 100%;}
.box_FF69B4 { background-color: #FF69B4; width: 100%; margin-top: 0;}

.second_section__second_side_section{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    width: 66%;
}
.box_C71585 { background-color: #C71585; width: 100%;}

.third_section{
    display: flex;
    /* justify-content: space-around; */
    gap: 10px;
}

.third_section__first_side_box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%
}
.box_00FF00 { background-color: #00FF00; width: 100%; height: 50%;}
.box_ADFF2F { background-color: #ADFF2F; width: 100%; height: 50%;}


.third_section__second_side_box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 75%;
    flex-wrap: wrap;
    max-height: 300px;
    margin-top: 10px;
}
.third_section__second_side_box .square{
    margin-top: 0px;
}
.third_section__second_side_box__fb {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    gap: 10px;
}
.third_section__second_side_box__sb {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    gap: 10px;
}
.box_32CD32 { background-color: #32CD32; height: 170px; width: calc(100% - 10px);}
.box_00FA9A { background-color: #00FA9A; height: 80px; width: calc(50% - 10px);}
.box_2E8B57 { background-color: #2E8B57; height: 80px; width: calc(50% - 10px)}
.box_006400 { background-color: #006400; height: 80px; width: calc(50% - 10px)}
.box_9ACD32 { background-color: #9ACD32; height: 80px; width: calc(50% - 10px)}
.box_808000 { background-color: #808000; height: 170px; width: calc(100% - 10px)}



.fourth_section{
    display: flex;
    justify-content: space-around;
    gap: 10px;
}
.box_FFA07A { background-color: #FFA07A; width: 18%;}
.box_FF4500 { background-color: #FF4500; width: 18%;}

.fifth_section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}
.first_row{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    flex-wrap: wrap;
    width: 50%;
    margin-top: 10px;
}
.first_row .square {
    margin-top: 0;
}
.box_D2691E { background-color: #D2691E; width: calc(50% - 10px);}
.box_8B4513 { background-color: #8B4513; width: calc(50% - 10px);}
.box_A52A2A { background-color: #A52A2A; width: calc(100% - 10px);}
.second_row{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 50%;
}
.box_BC8F8F { background-color: #BC8F8F; width: 50%;}
.box_F4A460 { background-color: #F4A460; width: 50%;}



@media (max-width: 1200px) {
    /*  768 <= ширины экрана <= 1200  */

    .container {
        width: 768px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .first_section{
        display: flex;
        justify-content: space-around;
        gap: 10px;
    }
    .box_CD5C5C { background-color: #CD5C5C; width: 33%;}
    .box_DC143C { background-color: #DC143C; width: 33%;}
    .box_8B0000 { background-color: #8B0000; display: none;;} 
    .box_FF0000 { background-color: #FF0000; width: 33%;} 


    .second_section{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        gap: 10px;
    }
    .second_section__side_section{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 10px;
    }
    .box_FFC0CB { background-color: #FFC0CB; width: 50%; margin-top: 10px;}
    .box_FF69B4 { background-color: #FF69B4; width: 50%; margin-top: 10px;}
    
    .second_section__second_side_section{
        display: flex;
        width: 100%;
        justify-content: space-around;
        gap: 10px;
    }
    .box_C71585 { background-color: #C71585; width: 100%; margin-top: 0;}
    
    .third_section{
        display: flex;
        /* justify-content: space-around; */
        gap: 10px;
        flex-direction: row;
    }
    .third_section__first_side_box{
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: space-between;
        width: 25%
    }
    .box_00FF00 { background-color: #00FF00; height: calc(33% - 5px); margin-top: 0;}
    .box_ADFF2F { background-color: #ADFF2F; height: calc(66% + 5px);}

    
    .third_section__second_side_box{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        margin-top: 0;
        gap: 10px;
    }
    /* .third_section__second_side_box .square{
        margin-top: 10px;
    } */
    .third_section__second_side_box__fb {
        flex-wrap: nowrap;
        width: 100%;
        margin-top: 10px;
    }
    .third_section__second_side_box__sb {
        flex-wrap: nowrap;
        width: 100%;
    }
    .box_32CD32 { background-color: #32CD32; height: 170px; width: 100%;}
    .box_00FA9A { background-color: #00FA9A; height: 170px;}
    .box_2E8B57 { background-color: #2E8B57; height: 170px;}
    .box_006400 { background-color: #006400; height: 80px; width: calc(25% - 15px); margin-top: 0;}
    .box_9ACD32 { background-color: #9ACD32; height: 80px; width: calc(25% - 15px); margin-top: 0}
    .box_808000 { background-color: #808000; height: 80px; width: calc(50% + 10px); margin-top: 0;}

    
    
    .fourth_section{
        display: flex;
        justify-content: space-around;
        gap: 10px;
    }
    .box_FFA07A { background-color: #FFA07A; width: 25%;}
    .box_FF4500 { background-color: #FF4500; width: 25%;}
    
    .fifth_section{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
    }
    .first_row{
        display: flex;
        justify-content: space-around;
        gap: 10px;
        flex-wrap: nowrap;
        width: 66%;
        /* margin-top: 10px; */
    }
    .first_row .square {
        margin-top: 0;
    }
    .box_D2691E { background-color: #D2691E; width: 33%;}
    .box_8B4513 { background-color: #8B4513; width: 33%;}
    .box_A52A2A { background-color: #A52A2A; width: 33%;}
    .second_row{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 10px;
        width: 33%;
    }
    .box_BC8F8F { background-color: #BC8F8F; width: 100%; height: 170px;}
    .box_F4A460 { background-color: #F4A460; display: none;}

}

@media (max-width: 769px) {
    /*  0 <= ширины экрана <= 768  */

    .container {
        width: 320px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 14px;
    }

    
    .first_section{
        display: flex;
        justify-content: space-around;
        gap: 10px;
    }
    .box_CD5C5C { background-color: #CD5C5C; width: 66%;}
    .box_DC143C { background-color: #DC143C; display: none;}
    .box_8B0000 { background-color: #8B0000; width: 33%;} 


    .second_section{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        gap: 10px;
    }
    .second_section__side_section{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 10px;
    }
    .box_FFC0CB { background-color: #FFC0CB; width: 100%; height: 170px;}
    .box_FF69B4 { background-color: #FF69B4; width: 100%; height: 170px;}
    
    .second_section__second_side_section{
        display: flex;
        width: 100%;
        justify-content: space-around;
        gap: 10px;
    }
    .box_C71585 { background-color: #C71585; width: 100%; height: 170px;}
    
    .third_section{
        display: flex;
        /* justify-content: space-around; */
        gap: 10px;
        flex-direction: column;
    }
    .third_section__first_side_box{
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: space-between;
        width: 100%
    }

    .box_00FF00 { background-color: #00FF00; display: none}
    .box_ADFF2F { background-color: #ADFF2F; display: none;}

    
    .third_section__second_side_box{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%; 
        margin-top: 0;
        gap: 10px;
        max-height: min-content;
    }
    /* .third_section__second_side_box .square{
        width:calc(50% - 5px);
        margin-top: 0px;
    } */
    .third_section__second_side_box__fb {
        margin-top: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .box_32CD32 { background-color: #32CD32; height: 170px; width: 100% ;}
    .box_2E8B57 { background-color: #2E8B57; height: 80px; width: calc(50% - 5px)}
    .box_00FA9A { background-color: #00FA9A; height: 80px; width: calc(50% - 5px)}
    .box_006400 { background-color: #006400; height: 80px; width: 50%;}
    .box_9ACD32 { background-color: #9ACD32; height: 80px; width: 50%;}
    .box_808000 { background-color: #808000; display: none;}

    
    
    .fourth_section{
        display: flex;
        justify-content: space-around;
        gap: 10px;
        flex-direction: row;
    }
    .box_FFA07A { background-color: #FFA07A; width:50%;}
    .box_FF4500 { background-color: #FF4500; width: 50%;}
    
    .fifth_section{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* gap: 10px; */
    }
    .first_row{
        display: flex;
        justify-content: space-around;
        gap: 10px;
        flex-wrap: nowrap;
        width: 100%;
        flex-direction: column;
        margin-top: 0px;
    }
    .first_row .square {
        margin-top: 0px;
    }
    .box_D2691E { background-color: #D2691E; width: 100%;}
    .box_8B4513 { background-color: #8B4513; width: 100%;}
    .box_A52A2A { background-color: #A52A2A; width: 100%;}
    .box_800000 { background-color: #800000; width: 100%;}
    .second_row{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }
    .box_BC8F8F { background-color: #BC8F8F; width: 100%; margin-top: 10px;}
    .box_F4A460 { background-color: #F4A460; width: 100%; margin-top: 0;}

}